.best{
    background: url(../img/best/best-bg.png)no-repeat center center;
    background-size: cover;
    height: 100vh;
}
.best__list{
    display: flex;
    @include phones{
        flex-direction: column;
        
      
    }
}

.best__content{
    width: 100%;
}
.best__elemm{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33%;
    padding-right: rem(26px);
    
    @include phones{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-right: rem(0px);
        
    }

    &:last-child{
        padding: 0px;
    }
}

.best__icon{
    &-hand{
        height: 100px;
        width: 150px;
    }
    &-meat{
         height: 100px;
         width: 150px;}
    &-natural
    { height: 100px;
    width: 150px;}
}

.best__desc{
    @include phones{
        text-align: left;
        width: 100%;
    }
}
.best__subtitle{
    font-family: 'lifehack' ;
    font-size: rem(40px);
    color: black;
    padding-top: 20px;
    padding-bottom: rem(30px);
    @include tablets{
        padding-bottom: rem(10px);
        font-size: rem(30px);
        
    }
    @include phones{
        font-size: rem(24px);
    }
}
.best__text{
    font-family: 'ubuntu-light';
    color: black;
    @include phones{
        font-size: rem(14px);
    }
}
