
.btn{
    background: #e45028;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px; 
    font-family: "ubuntu-medium";
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 5px;
   

    &:hover{
        background-color:#882d14;
    }
    &.btn--black{
        background: #2f3234;
        width: 110px;
        
    }
    
    &.btn--black:hover{
        background: #6f767a;
    }
}   

