
.btn{
    background: #e45028;
    color: white;
    border: none;
    cursor: pointer;
    padding: rem(10px) rem(15px); 
    font-family: "ubuntu-medium";
    font-size: rem(13px);
    text-transform: uppercase;
    border-radius: rem(5px);
   

    &:hover{
        background-color:#882d14;
    }
    &.btn--black{
        background: #2f3234;
        width: rem(110px);  
    }
    
    &.btn--black:hover{
        background: #6f767a;
    }


}   

.btn__group{
    @include phones{
        text-align: center;
        padding-top: rem(10px);

    }
}

.btn__group .btn{
    margin-right: rem(20px);
    
}

