.contacts{
  
    position: relative;
}

.contacts__map{
    height: 100%;
    width: 100%;
}
.contacts__content{
    height: 100%;
}
.phone{
    fill: red;
    height: rem(15px);
    width: rem(15px);
    margin-right: rem(10px);
}
footer{
    background: black;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: rem(70px);
    @include phones{
        height: rem(100px);
    }
    
}
.adress-text{
    font-family: 'ubuntu-medium' ;
    font-size: rem(14px);
    padding-bottom: rem(10px);
}
.info-wrap{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include phones{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}


.social{
    @include phones{
        padding-top: rem(15px);
    }
}
.social-icon{
    height: rem(20px);
    width: rem(20px);
    fill:gray;
    margin-right: rem(20px);
    &:last-child{
        margin: 0;
    }

    &:hover{
        fill:#FFFFFF;
        transition: 0.3s;
    }
}


.numb{
    display: flex;
    align-items: center;
    font-family: 'ubuntu-medium' ;
    color: #e35028;
    @include phones{
        justify-content: center;

    }
}