
.drop__menu{
    position: absolute;
    top: 0;
    @include tablets{
        top: rem(-100px);
        left: rem(100px);
    }
    @include phones {
        left: rem(50px);
    }
}

.drop__menu:hover .drop__menu-list{
    top:0;
    opacity: 1;
    transition: opacity 0.3s;
}
.drop__icon{
    height: rem(50px);
    width: rem(50px);
}
.drop__btn{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f08c33;
    width: rem(90px);
    height: rem(90px);
    text-align: center;
    border-radius: 10px;
    
    
  
}
.drop__text{
    font-family: 'gagalin' ;
    font-size: rem(14px);
    color: #fff;
}

.drop__menu-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        color: #000;
        opacity: 0.902;
        top:rem(-20000px);
        left: rem(90px);
        position: absolute;
        width: rem(280px);
        height: rem(330px);
        opacity: 0;   
      }

.drop__menu-elemm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  rem(2px) rem(20px);

}
.elemm__picture{
    margin-right: rem(20px);
    height: rem(40px);
    width: rem(40px);
}

.menu__elemm-title{
    font-family: 'ubuntu-medium' ;
    font-size: rem(14px);
    padding-left: rem(20px);
}
.menu__elem-weight{
    font-family: 'ubuntu-light' ;
    font-size: rem(14px);
    text-align: center;
    margin-left: auto;
}