.fixed-menu{
    position: fixed;
    top: rem(95px);
    right: rem(53px);

    & .active{
        border-color: white;
        box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.9);
        transition: 0.2s;
    
    }

    @include tablets{
        display: none;
        
        
    }
}

.fixed-menu__item{
    height: rem(16px);
    width: rem(16px);
    border-radius: 50%;
    border: 1px solid transparent;
    margin-bottom: 3px;
    position: relative;

   
    &:hover{
        border-color: white;
        box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.9);
        
    }
   
   
     &::before{
       content: "";
       width: 6px;
       height: 6px;
       background: #fff;
       border-radius: 50%;
       position: absolute;
       top:50%;
       left: 50%;
       transform: translate(-50%,-50%);

   }

   &::before:hover{
    background: $orange;
   }
   
   
    &:last-child{
        margin-bottom: 0px;
    }
    
}

.fixed-menu__link{
    height: 18px;
    width: 20px;
    
}