.order{
    background: url(../img/order/order-bg.jpg) center center / cover no-repeat;
}

.form__elemm{
    display: flex;
    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center; justify-content: center;
        padding: 0 20%;
    }
}
.form__column{
    width: 50%;
    margin-right: rem(20px);
    &:last-child{
        margin-right: 0;
    }

    @include tablets{
        width: 100%;
        margin-right: 0;
    }
}
.form__row{
    display: flex;
}
.form__block{
    flex: 1;
    display: block;
    margin-right: rem(20px);
    color: white;
     &:last-child{
        margin-right: 0px;

     }
}

.form_block-title{
    font-family: 'ubuntu-light' ;
    padding-top: rem(25px);
}

.form__input{
    background: white;
    border-radius: 3px;
    border: none;
    padding: rem(8px) rem(21px);
    width: 100%;
    outline: none;
    border: 2px solid white;

    &--textarea{
        resize: none;
        height: 110px;
    }
    
}
.form__input:focus {
    border: 2px solid #f89513;
}
