.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:rem(10px);
   

}

.header__humb{
    position: fixed;
    @include tablets{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include phones{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.header__butt{
    display: flex;
    align-items: center;
}
