.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:rem(10px);
    @include tablets{
        justify-content: space-around;
    }

}
.header__butt{
    @include tablets{
        display: flex;
        align-items: center;
    }
    @include phones{
        display: flex;
        align-items: center;
    }
}