
.inner {
    background: url(../img/inner/inner-bg.png)center center no-repeat;
    background-size: cover;
    height: 100vh;
}
.main{
    display: flex;

    @include tablets{
        flex-direction: column;
        align-items: center;
        
    }

    
}

.inner__logo{
    @include tablets{
        z-index: 100;
    }
}
.burger{
    height: 100%;
}

.main__logo{
    flex: 0 0 auto;
    @include tablets{
        height: 300px;
        
    }
}

.main__content{
    display: flex;
    align-items: center;
    padding-left:rem(20px);
    padding-top:rem(40px);

    @include tablets{
        text-align: center;
        padding: rem(20px) rem(80px);
        
        
    }

   
}

.main__subtitle{
    font-family: 'lifehack';
    font-size: rem(72px);
    color: white;
    @include tablets{
        font-size: rem(65px);
        
    }
    @include phones{
        font-size: rem(50px);
    }
}