.nav__list{
display: flex;
height: 100%;
align-items: center;
}

.nav__elemm{ 
    display: flex;
    align-items: center;
    margin-right: 10px;
    &::after{
        content: "";
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%;
        display: block;
        margin-left: 20px;
    }

    &:last-child{
        &::after{
            display: none;
        }
    }


}


.nav__link{
    font-family: 'ubuntu-medium';
    font-size: 13px;
    text-transform: uppercase;
    color: white;

}