
.reviews{
    height: 100vh;
}
.reviews__list{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.reviews__elemm{
    width: 25%;
    height: 50%;
    position: relative;
    &:hover{
        .reviews__hover{  
         opacity: 1;
         @include tablets{
            padding-top: 10%
        }
        }
    }  

    @include tablets{
       width: 50%;
       height: 25%;
    }
}

.reviews__pic{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
    
    
}

.reviews__hover{
    color:#fff;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#444646, .5);
    padding: rem(50px) rem(19px) rem(19px);
    opacity: 0;
    transition: .1s;
    
      
   
}
.hover__title {
     font-family: 'gagalin' ;
     padding-bottom: rem(32px);
     @include tablets{
        padding-bottom: rem(10px);
        
    }
}
.hover__text{
    font-family: 'ubuntu-light' ;
    padding-bottom:rem(20px);
}