
.slider {
    background-image: -moz-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -ms-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    height: 100vh;
    color: #fff;
    
  }
  .slider__container{
      position: relative;
  }
   .slider__list{
       display: flex;
       justify-content: center;
       flex: 0 0 auto;
       height: rem(465px);
       position: relative;
       overflow: hidden;
       
       @include tablets{
        height: 100%;
         padding: 0 rem(40px);
         padding-top: rem(50px);
    
    }
     @include phones {
         padding: 0;
     }
       
   }
  .slider__elemm{
      display: flex;
      @include tablets{
        flex-direction: column;
        justify-content: center;
        align-items: center;
      
    }
  }
  .slider__burger{
      width: 100%;

      @include tablets {
          width: rem(400px);
          padding-bottom: rem(20px);
      }
      @include phones {
        width: rem(300px);
        padding: 0;
    }
  }

  .slider__wrapper{
      position: relative;
  }
  .slider__arrow{
      display: flex;
      position: absolute;
      top: 0;
      left: rem(-50px);
      bottom: 0;
      width: rem(50px);
      justify-content: center;
      align-items: center;
      @include tablets{
          left: rem(-25px);
      }
  }
  .slider__arrow--right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: rem(-50px);
    width: rem(50px);
    @include tablets{
        right: rem(-25px);
    }
  }


  .slider__col{
      flex: 1;
      &--center{
          display: flex;
          align-items: center;
      }

      @include tablets{
          text-align: center;
          
      }
  }
  .slider__title{
      color: #fff;
      @include tablets{
        padding: 0 rem(50px);
        padding-bottom: rem(40px);
        font-size: rem(50px);
    }
    @include phones {
        font-size: rem(40px)s;
        padding-bottom: rem(0px);
    }
  }

  .main__elemm{
      min-width: 100%;
      position: relative;
     
      
  }

  .slider__price{
      display: flex;
      justify-content:space-between;
      align-items: flex-end;

      @include tablets{
          justify-content: center;
      }
  }
  .slider__text{
    padding-bottom: 40px;
    font-family: 'ubuntu-light' ;
    font-size: 14px;
    line-height: 1.7em;
    
    @include tablets{
        padding-top: rem(20px);
    }
    @include phones{
        padding-bottom: rem(50px);
    }
  }
  .slider__btn{
      display: block;
      width: rem(100px);
        @include tablets{
            margin-left: rem(20px);
        }
  }
  .price{
      font-size: rem(72px);
    font-family: 'gagalin' ;
    color: $orange;
    line-height: 0.8;
    @include phones {
        font-size: rem(40px);
        line-height: 0.9;
    }
  }
  .litle{
      font-size: 50px;
      @include phones {
        font-size: rem(40px);
    }
  }
  
  .slider__wrapper{
      position: relative;
  }

  .slider__scroll{
      width: rem(40px);
      transform: rotate(90deg);
      top: 50%;
      display: block;
      &.right{
        transform: rotate(270deg);   
      }


  }

  .slider__pic{
      position: absolute;
      left: 0;
      bottom: 0;

     @include tablets {
        top: rem(-100px);
         bottom: auto;
         left: auto;
         right: rem(100px);
      }

      @include phones {
        right: rem(50px);
        top: rem(-110px);
    }
  }
  .slider__picture{
      height: rem(105px);
      width: rem(82px);
      position: relative;
  }

  .pic__numb{
    font-family: 'gagalin' ;
    font-size: rem(20px);  
    top: rem(50px);
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
      
  }

  .pic__text{
    font-family: 'gagalin' ;
    font-size: rem(14px);
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;
  }