
.slider {
    background-image: -moz-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -webkit-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    background-image: -ms-linear-gradient( 90deg, rgb(249,180,59) 0%, rgb(235,140,56) 48%, rgb(249,180,59) 74%);
    height: 100vh;
    color: #fff;
    
  }
  
   .slider__list{
       display: flex;
       justify-content: center;
       flex: 0 0 auto;
       height: rem(465px);
       position: relative;

       
       
   }
  .slider__elemm{
      display: flex;
  }
  .slider__burger{
      width: 100%;
  }

  .slider__wrapper{
      position: relative;
  }
  .slider__arrow{
      display: flex;
      position: absolute;
      top: 0;
      bottom: 0;
      width: rem(50px);
      justify-content: center;
      align-items: center;
  }
  .slider__arrow--right{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: rem(50px);
  }


  .slider__col{
      flex: 1;
      &--center{
          display: flex;
          align-items: center;
      }
  }
  .slider__title{
      color: #fff;
  }

  .main__elemm{
      min-width: 100%;
      position: relative;
      
  }

  .slider__price{
      display: flex;
      justify-content:space-between;
      align-items: flex-end;
  }
  .slider__text{
    padding-bottom: 40px;
    font-family: 'ubuntu-light' ;
    font-size: 14px;
  }
  .slider__btn{
      display: block;
      width: rem(100px);
  }
  .price{
      font-size: rem(72px);
    font-family: 'gagalin' ;
    color: $orange;
    line-height: 0.8;
  }
  .litle{
      font-size: 50px;
  }
  
  .slider__wrapper{
      position: relative;
  }

  .slider__scroll{
      height: 100%;
      width: rem(40px);
      transform: rotate(90deg);
      top: 50%;
      display: block;
      &.right{
        transform: rotate(270deg);   
      }
  }

  .slider__pic{
      position: absolute;
      left: 0;
      bottom: 0;
     
  }
  .slider__picture{
      height: rem(105px);
      width: rem(82px);
      position: relative;
  }

  .pic__numb{
    font-family: 'gagalin' ;
    font-size: rem(20px);  
    top: 50%;
      left: 31%;
      position: absolute;
  }

  .pic__text{
    font-family: 'gagalin' ;
    font-size: rem(14px);
      top:88%;
      left: 31%;
      position: absolute;
  }