.sprite {
    display: block;
    text-align: center;
    margin-left: rem(100px);
    margin-bottom: rem(40px);

    @include tablets{
        
        margin-left: rem(70px);
        
    }
}

.sprite-hand {
    width: 73px;
    height: 85px;
    background-position: -10px -10px;
}

.sprite-meat {
    width: 97px;
    height: 89px;
    background-position: -103px -10px;
}

.sprite-natural {
    width: 88px;
    height: 75px;
    background-position: -220px -10px;
}
