.title{
    font-family: 'gagalin', sans-serif;
    font-size: rem(72px);
    color:$yellow;
    padding-bottom: rem(35px);
   
   
    @include tablets{
        font-size: rem(65px);
        padding-bottom: rem(15px);
        
    }

    &.title--black{
     color: black;
    padding-top:rem(80px);
    padding-bottom: rem(55px);
     @include phones{
        padding-top:rem(20px);
        padding-bottom: rem(20px);
     }
    }
    &--center{
        text-align: center;
    }
    &--white{
        color: white;
        padding: rem(110px) rem(80px);
        @include phones{
            padding: rem(110px) rem(50px);
        }
    }
}