.workspace{
    height: 100vh;
    background: url(../img/workspace/BG.png)no-repeat center center;
    background-size: cover;
}

.workspace__content{
    display: flex;
    align-items: center;
    flex-direction: column;
    & .title {
        padding: 0;
        @include phones{
            text-align: center;
        }
    }
}