.best {
  background: url(./img/best/best-bg.png) no-repeat center center;
  background-size: cover;
  height: 100vh; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.best__elemm {
  text-align: center;
  width: 400px; }

.best__logo {
  padding-bottom: 30px; }

.best__subtitle {
  font-family: 'lifehack';
  font-size: 40px;
  color: black;
  padding-bottom: 30px; }

.best__text {
  font-family: 'ubuntu-light';
  color: black; }

.best__title {
  font-family: 'gagalin';
  font-size: 72px;
  color: black;
  padding-top: 140px;
  padding-bottom: 55px; }
