
.inner {
    background: url(../img/inner/inner-bg.png)center center no-repeat;
    background-size: cover;
    height: 100vh;
}
.main{
    display: flex;
}

.burger{
    height: 100%;
}

.main__logo{
    width: 450px;
    flex: 0 0 auto;
}

.main__content{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top:40px;
}
.main__title{
    font-family: 'gagalin', sans-serif;
    font-size: 72px;
    color: #f9b43b;
    padding-bottom: 35px;

}
.main__subtitle{
    font-family: 'lifehack';
    font-size: 72px;
    color: white;
}