.team {
  background: url(../img/team/team-bg.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative; }

.team__block {
  position: absolute;
  right: 50%;
  background-color: #2f3234;
  width: 50%;
  height: 100%; }
