.title{
    font-family: 'gagalin', sans-serif;
    font-size: 72px;
    color: #f9b43b;
    padding-bottom: 35px;

    &.title--black{
     color: black;
    padding-top:80px;
    padding-bottom: 55px;
    }
    &--center{
        text-align: center;
    }
    &--white{
        color: white;
        padding: 110px 80px;
    }
}