
@font-face {
    font-family: 'ckin';
    src: url("../fonts/ckin.eot?g02cfx");
    src: url("../fonts/ckin.eot?g02cfx#iefix") format("embedded-opentype"), url("../fonts/ckin.ttf?g02cfx") format("truetype"), url("../fonts/ckin.woff?g02cfx") format("woff"), url("../fonts/ckin.svg?g02cfx#ckin") format("svg");
    font-weight: normal;
    font-style: normal;
  }
@font-face
{
    font-family: 'gagalin' ;
    src: url(../fonts/Gagalin-Regular.woff);

}

@font-face
{
    font-family: 'lifehack' ;
    src: url(../fonts/Lifehack-Medium.woff);

}
@font-face
{
    font-family: 'ubuntu-medium' ;
    src: url(../fonts/ubuntu/Ubuntu-Medium.woff);

}
@font-face
{
    font-family: 'ubuntu-light' ;
    src: url(../fonts/ubuntu/Ubuntu-Light.woff);

}
@font-face
{
    font-family: 'ubuntu-bold' ;
    src: url(../fonts/ubuntu/Ubuntu-Bold.woff2);

}