@font-face
{
    font-family: 'gagalin' ;
    src: url(../../fonts/Gagalin-Regular.woff);

}

@font-face
{
    font-family: 'lifehack' ;
    src: url(../../fonts/Lifehack-Medium.woff);

}
@font-face
{
    font-family: 'ubuntu-medium' ;
    src: url(../../fonts/ubuntu/Ubuntu-Medium.woff);

}
@font-face
{
    font-family: 'ubuntu-light' ;
    src: url(../../fonts/ubuntu/Ubuntu-Light.woff);

}
@font-face
{
    font-family: 'ubuntu-bold' ;
    src: url(../../fonts/ubuntu/Ubuntu-Bold.woff2);

}